.content__menu-cover {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100vh - 54px);
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

span.menu {
    position: absolute;
    left: 150%;
    top: 7px;
    font-size: 22px;
    font-family: 'Comfortaa', cursive, sans-serif;
    letter-spacing: 1px;
    color: #333333;
}

.container-menu {
    height: 30px;
}

.container-menu input {
    display: none;
}

.container-menu label {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    background: transparent;
}

/* Exit Icon */
.container-menu input:checked ~ .content__menu-cover {
    display: flex;
}


.container-menu label:before,
.container-menu input:checked + label:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #333333;
}

.container-menu label:before {
    -webkit-animation: animationOneReverse 1s ease forwards;
    animation: animationOneReverse 1s ease forwards;
}

@-webkit-keyframes animationOneReverse {
    0% { -webkit-transform: rotate(315deg); }
    25% { -webkit-transform: rotate(360deg); }
    50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationOneReverse {
    0% { transform: rotate(315deg); }
    25% { transform: rotate(360deg); }
    50%, 100% { transform: rotate(0deg); }
}

.container-menu input:checked + label:before {
    -webkit-animation: animationOne 1s ease forwards;
    animation: animationOne 1s ease forwards;
}

@-webkit-keyframes animationOne {
    0%, 50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(315deg); }
}
@keyframes animationOne {
    0%, 50% { transform: rotate(0deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(315deg); }
}

.container-menu label:after,
.container-menu input:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #333333;
}

.container-menu label:after {
    -webkit-animation: animationTwoReverse 1s ease forwards;
    animation: animationTwoReverse 1s ease forwards;
}

@-webkit-keyframes animationTwoReverse {
    0% { -webkit-transform: rotate(405deg); }
    25% { -webkit-transform: rotate(450deg); }
    50%, 100% { -webkit-transform: rotate(0deg); }
}
@keyframes animationTwoReverse {
    0% { transform: rotate(405deg); }
    25% { transform: rotate(450deg); }
    50%, 100% { transform: rotate(0deg); }
}

.container-menu input:checked + label:after {
    -webkit-animation: animationTwo 1s ease forwards;
    animation: animationTwo 1s ease forwards;
}

@-webkit-keyframes animationTwo {
    0%, 50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(450deg); }
    100% { -webkit-transform: rotate(405deg); }
}
@keyframes animationTwo {
    0%, 50% { transform: rotate(0deg); }
    75% { transform: rotate(450deg); }
    100% { transform: rotate(405deg); }
}

/* Burger Icon */

.container-menu label .burger:before {
    content: '';
    position: absolute;
    top: 6px;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #333333;
    -webkit-animation: animationBurgerTopReverse 1s ease forwards;
    animation: animationBurgerTopReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerTopReverse {
    0%, 50% { -webkit-transform: translateY(12px); opacity: 0; }
    51% { -webkit-transform: translateY(12px); opacity: 1; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerTopReverse {
    0%, 50% { transform: translateY(12px); opacity: 0; }
    51% { transform: translateY(12px); opacity: 1; }
    100% { transform: translateY(0px); opacity: 1; }
}

.container-menu input:checked + label .burger:before {
    -webkit-animation: animationBurgerTop 1s ease forwards;
    animation: animationBurgerTop 1s ease forwards;
}

@-webkit-keyframes animationBurgerTop {
    0% { -webkit-transform: translateY(0px); opacity: 1; }
    50% { -webkit-transform: translateY(12px); opacity: 1; }
    51%, 100% { -webkit-transform: translateY(12px); opacity: 0; }
}
@keyframes animationBurgerTop {
    0% { transform: translateY(0px); opacity: 1; }
    50% { transform: translateY(12px); opacity: 1; }
    51%, 100% { transform: translateY(12px); opacity: 0; }
}

.container-menu label .burger:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #333333;
    -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
    animation: animationBurgerBottomReverse 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottomReverse {
    0%, 50% { -webkit-transform: translateY(-12px); opacity: 0; }
    51% { -webkit-transform: translateY(-12px); opacity: 1; }
    100% { -webkit-transform: translateY(0px); opacity: 1; }
}
@keyframes animationBurgerBottomReverse {
    0%, 50% { transform: translateY(-12px); opacity: 0; }
    51% { transform: translateY(-12px); opacity: 1; }
    100% { transform: translateY(0px); opacity: 1; }
}

.container-menu input:checked + label .burger:after {
    -webkit-animation: animationBurgerBottom 1s ease forwards;
    animation: animationBurgerBottom 1s ease forwards;
}

@-webkit-keyframes animationBurgerBottom {
    0% { -webkit-transform: translateY(0px); opacity: 1; }
    50% { -webkit-transform: translateY(-12px); opacity: 1; }
    51%, 100% { -webkit-transform: translateY(-12px); opacity: 0; }
}
@keyframes animationBurgerBottom {
    0% { transform: translateY(0px); opacity: 1; }
    50% { transform: translateY(-12px); opacity: 1; }
    51%, 100% { transform: translateY(-12px); opacity: 0; }
}