html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.content {
    margin-top: 87px;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.navigation__mobile {
    display: none;
}
input.invalid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'><path stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
}
input.invalid ~ .invalid-feedback {
    display: block;
}

.custom-logo-animated {
    animation: rotation 2s infinite linear;;
    -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}

@media screen and (max-width: 400px) {
    .navigation__desktop {
        display: none;
    }
    .navigation__mobile {
        display: block;
        width: 30px;
        height: 30px;
    }
    .custom-mobile {
        display: flex !important;
        justify-content: space-between;
        flex-direction: row !important;
        align-items: center;
    }
}